<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>量子算法攻击 - 格密码算法系统</title>
    <link rel="stylesheet" href="../static/css/element-ui@2.13.0-theme-chalk-index.css" />
</head>

<body>
    <div id="app">
        <el-header>
            <div style="display: flex; align-items: center; justify-content: center">
                <img src="../static/img/bupt.png" alt="BUPT Logo" style="width: 200px; height: 60px; margin-right: 20px" />
                <h2 style="margin: 0; text-align: center">量子算法攻击</h2>
            </div>
        </el-header>

        <el-main>
            <el-container>
                <el-card>
                    <el-tabs type="border-card" v-model="activeTab">
                        <el-tab-pane label="基于分圆格的无错误PKE密码攻击" name="pkeAttack">
                            <el-form ref="pkeForm" :model="pkeData" label-width="120px">
                                <el-form-item label="输入参数">
                                    <el-input v-model="pkeData.parameters" type="textarea" placeholder="请输入参数，如：n q m"></el-input>
                                </el-form-item>
                                <el-form-item label="输入已知密钥">
                                    <el-input v-model="pkeData.knownKeys" type="textarea"></el-input>
                                </el-form-item>
                                <el-form-item label="解密结果">
                                    <el-input v-model="pkeData.result" type="textarea" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="attackPKE">开始攻击</el-button>
                                    <el-button @click="backToMenu">返回菜单</el-button>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>

                        <el-tab-pane label="基于分圆格的结构化SIS密码攻击" name="sisAttack">
                            <el-form ref="sisForm" :model="sisData" label-width="120px">
                                <el-form-item label="输入参数">
                                    <el-input v-model="sisData.parameters" type="textarea" placeholder="请输入参数，如：n q m"></el-input>
                                </el-form-item>
                                <el-form-item label="输入矩阵">
                                    <el-input v-model="sisData.matrix" type="textarea"></el-input>
                                </el-form-item>
                                <el-form-item label="攻击结果">
                                    <el-input v-model="sisData.result" type="textarea" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="attackSIS">开始攻击</el-button>
                                    <el-button @click="backToMenu">返回菜单</el-button>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>

                        <el-tab-pane label="基于分圆格的结构化LWE密码攻击" name="lweAttack">
                            <el-form ref="lweForm" :model="lweData" label-width="120px">
                                <el-form-item label="输入参数">
                                    <el-input v-model="lweData.parameters" type="textarea" placeholder="请输入参数，如：n q m"></el-input>
                                </el-form-item>
                                <el-form-item label="输入样例">
                                    <el-input v-model="lweData.samples" type="textarea"></el-input>
                                </el-form-item>
                                <el-form-item label="攻击结果">
                                    <el-input v-model="lweData.result" type="textarea" :readonly="true"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="attackLWE">开始攻击</el-button>
                                    <el-button @click="backToMenu">返回菜单</el-button>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>
                    </el-tabs>
                </el-card>
            </el-container>
        </el-main>
    </div>

    <script src="../static/js/vue-v2.6.11.js"></script>
    <script src="../static/js/element-ui@2.13.0-index.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    activeTab: "pkeAttack",
                    pkeData: {
                        parameters: "",
                        knownKeys: "",
                        result: "",
                    },
                    sisData: {
                        parameters: "",
                        matrix: "",
                        result: "",
                    },
                    lweData: {
                        parameters: "",
                        samples: "",
                        result: "",
                    },
                };
            },
            methods: {
                attackPKE() {
                    // 这里可以实现PKE攻击的逻辑
                    this.$alert("PKE攻击功能正在开发中", "提示", {
                        confirmButtonText: "确定",
                    });
                },
                attackSIS() {
                    // 这里可以实现SIS攻击的逻辑
                    this.$alert("SIS攻击功能正在开发中", "提示", {
                        confirmButtonText: "确定",
                    });
                },
                attackLWE() {
                    // 这里可以实现LWE攻击的逻辑
                    this.$alert("LWE攻击功能正在开发中", "提示", {
                        confirmButtonText: "确定",
                    });
                },
                backToMenu() {
                    window.location.href = "../menu.html";
                },
            },
        });
    </script>
</body>

</html>